*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#dadada ;
    
}
#main h1{
    padding-left: 30px;
    position: absolute;
    z-index: 9999;
    color: white;
    
}
#main #navbar{
    width: 100%;
    height: 40px;
    background-color: skyblue;
    display: flex;
    gap: 40px;
    justify-content: end;
    padding-right: 7%;
}
#main #navbar a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}